<div class="container w-100 h-50 text-center">
  <div class="sirene d-flex align-items-center justify-content-center">
    <img src="https://media.tenor.com/images/ff728210d4ce07c6a16792b0f2314c1b/tenor.gif" alt="">
    <h1 class="mx-3">FATAL ERROR</h1>
    <img src="https://media.tenor.com/images/ff728210d4ce07c6a16792b0f2314c1b/tenor.gif" alt="">
  </div>
  <div>
    </pre>
    <span>
      <font size="3">
        <font face="arial">
          <font color="#000000">
            <div align="center">
              <center>
                <script language="JavaScript">
                  var timeNow  = new Date();
                  TargetDate = "05/14/2021 6:00 PM";
                  BackColor = false;
                  ForeColor = false;
                  CountActive = true;
                  CountStepper = -1;
                  LeadingZero = true;
                  DisplayFormat = "%%S%% ";
                  FinishMessage = "BON WEEKEND !";
                </script>
                <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js">
                </script>
              </center>
            </div>
    </span>
    <pre>
  </div>

  <img class = "my-5 booba" src="https://media1.tenor.com/images/4a31c9950cfdb3329eba99dd8bb2ca7a/tenor.gif?itemid=13878960" alt="">
</div>